{% include 'header.html' with context%}
    <div class="container">
      <div class="hero-unit">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
      <blockquote>
        <p>이 지구는 행성보호기구에서도 톱 레벨의 보호 대상으로 지정돼 있다는 것은 이미 말씀드린 바와 같습니다만, 그 이유가 이겁니다! 
          애니라던가, 만화라던가, 게임이라던가? 어휘로 말하자면 "오락" 영어로 말하자면 "Entertainment!"<br/>
          <strong>지구의 오락은 우주제일!</strong>
        </p>
        <small class="pull-right">냐루코</small>
      </blockquote>

      </div>


      <!-- search -->
      <div class="row">
        <div class="offset1 span10">
          <form class="form-horizontal" method="GET" action="search">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="text">Keyword</label>
                <div class="controls">
                  <input type="text" class="input-medium search-query" name="keyword"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="category">Category</label>
                <div class="controls">
		  {% for category in category_data %}
		  <label class="checkbox inline">
                    <input type="checkbox" name="category" value="{{category.code}}" class="category-checkbox">{{category.name}}</input>
                  </label>                  
		  {% endfor %}

                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="button" class="btn" id="category-check-all">Check All</button> 
		  <span> </span>
                  <button type="button" class="btn" id="category-clear-all">Clear All</button>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
{% include 'footer.html' without context %}

<!--input custom js -->
<script src="static/js/index.js" type="text/javascript"></script>

{% include 'html_close.html' without context %}
