{% include 'header.html' with context %}
    <div class="container">
      <div class="container-fluid">
	<div class="row-fluid">
	  <!-- searched tag list -->
	  <div class="span3">
	    <ul class="nav nav-list">
	      <li class=""><a href="#">Kasugano sora / 200+</a></li>
	      <li class="active"><a href="#">아키소라 / 100+</a></li>
	      <li><a href="#">요스가 / 10+</a></li>
	    </ul>
	  </div>

	  <!-- thumbnail list -->
	  <div class="span9">
a<br/>aa<br/>fds<br/>
	  </div>
	</div>
      </div>

    <!--
    <div class="container">

      <div class="jumbotron masthead">
	<h1>Project::Nyaruko</h1>
      </div>

      <div class="row">
	<div class="offset4 span4">
	  <-- search --
	  <form class="form-search">
	    <input type="text" class="input-medium search-query" placeholder="Search"/>
	    <button type="submit" class="btn">Search</button>
	  </form>
	</div>
      </div>
    </div>
-->
{% include 'footer.html' without context %}
